<% if (user) { %> 
<p>Your e-mail is: <%= user.email %></p>
<form action="/logout" method="POST">
  <input type= "submit" value="Logout" />
</form>

<% } else { %>

<form action="/login" method="GET">
  <input type= "submit" value= "Login">
</form>

<form action="/register" method = "GET">
  <input type="submit" value="Register">
</form>

<% } %>

<header>
  <h2>Link to <a href="/">home screen and current links</a> or...</h2>
  <p>Create a new <a href="/urls/new">TINY URL</a>.</p>
</header>