<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="/login" method="POST" style="margin:150px;">
      <label for="email">Enter your e-mail address: </label>
      <input type="text" id="email" name="email" placeholder="ex: tinyApp@lighthouselabs.ca" style="width: 300px"> 
      
    <p>
      <label for="password">Enter your password: </label>
      <input type="password" id="password" name="password" style="width: 300px">
    </p>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
