<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
    <% include partials/_header %>
</header>

<body>
    <h2>URLs</h2>
    
    <ul>
        <% for (shortURL in urls) { %>
            <li>Here's the short URL:<%= shortURL %> - <%= urls[shortURL] %></li>
        <% }; %>
        <a href>Dead link goes here.</a>
    </ul>
</body>
</html>