<!DOCTYPE html>
<html lang="en">
<head>
  <title>URLs show</title>
</head>
<header>    
     <% include partials/_header %>
</header>

<body style="font-size:20px; padding:50px;">
  <h2>Short URL: <%= shortURL %></h2>

<table>
  <tr>
    <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
        <td>
            <input id="longURL" type="text" name="longURL" placeholder="<%= longURL %>" style="width: 300px" required>
        </td>
        <td>
            <input type="submit" value="Update">
        </td>
    </form>
  </tr>
</table>

</body>
</html>