<!DOCTYPE html>
<html lang="en">
<head>
  <title>URLs show</title>
</head>
<header>    
     <% include partials/_header %>
</header>

<body>
    <h2>URLs</h2>
    
    <ul>
        <p>Short url: short url will go here </p>
    </ul>

</body>
</html>